* {
  background-color: coral;
}
.orta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orta > img {
  border-radius: 10px;
  border-style: dashed;
  border-color: blue;
}
